.greeting h1{
            font-family: 'Raleway', sans-serif;
            font-weight: lighter;
            font-size: 100px;
            text-align: center;
            margin : 0;
        }
        .greeting h2{
            font-family: 'Raleway', sans-serif;
            font-weight: lighter;
            font-size: 35px;
            text-align: center;
            margin : 0;
        }
        .topLeft img{
            width: 100px;
            height: 100px;
            position: absolute;
            left:0;
            top:0;
        }
        .topRight img{
            width: 100px;
            height: 100px;
            position: absolute;
            right:0;
            top:0;
        }